<div class="container-fluid" style="padding: 0;">
    <app-nav-bar></app-nav-bar>
    <app-hero></app-hero>

    <!-- card del evento -->
    <div class="container mt-5"> 
        <div class="card col-lg-9 col-md-9 col-sm-10 mx-auto">
            <div class="card-header" style="padding: 24px;">
                <div class="d-flex gap-2 align-items-center">
                    <mat-icon class="calendar-icon">event</mat-icon>
                    <p>{{event[0].dateTime}} - </p>
    
                    <img [src]="'https://openweathermap.org/img/wn/' + iconTemperature + '.png'" alt="" srcset="" style="height: 40px; width: 40px;">
                    <p>{{temperature}}°C</p>
                </div>
                <div class="d-flex gap-2 align-items-center mt-2">
                    <mat-icon class="location-icon">location_on</mat-icon>
                    <p>{{event[0].city}}, {{event[0].countryName}}</p>
                </div>
            </div>
            <div class="card-body" style="padding: 32px;">
                <h2 style="color: #FF990F; font-weight: bold; margin-bottom: 8px;">{{event[0].eventName}}</h2>
                <p class="card-text" style="color: #FF990F;">Nivel: {{event[0].difficultyName}}</p>
                <p class="card-text">Asistentes: 0</p>
                <p class="card-text mt-3">{{event[0].eventDescription}}</p>

                <!-- seccion comentarios -->
                <mat-card style="background-color: #757575; padding: 0px 20px; margin: 50px 0px;">
                    <mat-card-content *ngFor="let comment of comments" style="padding-bottom: 8px;">
                        <p style="color: #FF990F; font-weight: bold;">{{comment.userIdName}}</p>
                        <p style="color:#111111">{{comment.comment}}</p>
                    </mat-card-content>
                    <mat-form-field *ngIf="logueado == true">
                        <mat-label style="font-size: 14px;">Añadí tu comentario</mat-label>
                        <input matInput>
                        <mat-icon matSuffix style="cursor: pointer;">send</mat-icon>
                    </mat-form-field>
                </mat-card>

                <div class="d-flex justify-content-end">
                    <button class="btn" *ngIf="logueado == true" [routerLink]="['/TeamUp/dashboardEvents']"> MIS EVENTOS </button>
                    <button class="btn" *ngIf="logueado == false" [routerLink]="['']"> VOLVER ATRÁS </button>
                    <button class="btn" *ngIf="logueado == true" style="margin-left: 20px;"> ME SUMO </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="row">
        <app-footer></app-footer>
    </div>
</div>