<div class="container-fluid" style="padding: 0;">
    <app-nav-bar></app-nav-bar>

    <div class="background-image">
        <div>
            <div>
                <div class="col-12 mt-5" style="text-align: center;">
                    <app-title [title]="'Modificá tu evento'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'48px'"
                        [fontWeightTitle]="'400'"></app-title>
                </div>
                <form [formGroup]="formUpdateEvent">
                    <!-- Nombre del Evento -->
                    <div class="form-group col-8 mx-auto">
                        <div class="mb-4" [@fadeInOut]>
                            <label for="nombreEvento" class="text">Nombre Del Evento</label>
                            <div style="display: flex; align-items: center;">
                                <input type="string" id="nombreEvento" name="nombreEvento"
                                    formControlName="nombreEvento" required
                                    class="rounded-input" style="height: 45px; width: 100%; ">
                            </div>
                            <div class="error-message"
                                *ngIf="formUpdateEvent.get('nombreEvento')?.invalid && formUpdateEvent.get('nombreEvento')?.touched">
                                El campo Nombre es obligatorio</div>
                            <div class="error-message"
                                *ngIf="this.formUpdateEvent.get('nombreEvento')?.hasError('maxlength') && this.formUpdateEvent.get('nombreEvento')?.touched">
                                El nombre del evento debe tener máximo 50 caracteres</div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>