<div class="container-fluid" style="padding: 0;">
    <app-nav-bar></app-nav-bar>

    <div class="background-image">
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 50px;">
                <div class="col-md-8">
                    <div class="newEvent-form">
                        <form [formGroup]="formularioEvento">
                            <div class="mt-5">
                                <app-title [title]="'Modificá tu evento'" [colorTitle]="'#FF990F'"
                                    [fontSizeTitle]="'48px'" [fontWeightTitle]="'400'"></app-title>
                            </div>
                            <div class="form-group">
                                <!-- Nombre del Evento OK CHEQUEADO-->
                                <div class="mb-4" [@fadeInOut]>
                                    <label for="nombreEvento" class="text">Nombre Del Evento</label>
                                    <div style="display: flex; align-items: center;">
                                        <input type="string" id="nombreEvento" name="nombreEvento"
                                            formControlName="nombreEvento" placeholder="Ingresa el nombre del Evento"
                                            required class="rounded-input" style="height: 45px; width: 100%; ">
                                    </div>
                                    <div class="error-message"
                                        *ngIf="formularioEvento.get('nombreEvento')?.invalid && formularioEvento.get('nombreEvento')?.touched">
                                        El campo Nombre es obligatorio</div>
                                    <div class="error-message"
                                        *ngIf="this.formularioEvento.get('nombreEvento')?.hasError('maxlength') && this.formularioEvento.get('nombreEvento')?.touched">
                                        El nombre del evento debe tener máximo 50 caracteres</div>
                                </div>

                                <!-- Descripción del Evento OK REVISADO-->
                                <div class="mb-4" [@fadeInOut]>
                                    <label for="descripcionEvento" class="text">Descripción Del Evento</label>
                                    <div style="display: flex; align-items: center;">
                                        <input type="string" id="descripcionEvento" name="descripcionEvento"
                                            formControlName="descripcionEvento"
                                            placeholder="Ingresa una descripción para el Evento" required
                                            class="rounded-input" style="height: 45px; width: 100%;">
                                    </div>
                                    <div class="error-message"
                                        *ngIf="formularioEvento.get('descripcionEvento')?.invalid && formularioEvento.get('descripcionEvento')?.touched">
                                        El campo Descripcion es obligatorio</div>
                                    <div class="error-message"
                                        *ngIf="this.formularioEvento.get('descripcionEvento')?.hasError('maxlength') && this.formularioEvento.get('descripcionEvento')?.touched">
                                        La descripción del Evento debe tener como máximo 1000 caracteres</div>
                                </div>

                                <!-- País del Evento OK REVISADO PAIS EVENTO -->
                                <div class="mb-3" [@fadeInOut]>
                                    <label for="paisEvento" class="text">País Del Evento</label>
                                    <div style="display: flex; align-items: center;">
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>País del Evento</mat-label>
                                            <mat-select formControlName="paisEvento">
                                                <mat-option [value]="country.code"
                                                    *ngFor="let country of countryCodes">{{ country.name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="error-message"
                                        *ngIf="formularioEvento.get('paisEvento')?.invalid && formularioEvento.get('paisEvento')?.touched">
                                        El campo País es obligatorio</div>
                                </div>

                                <!-- Ciudad del Evento -->
                                <div class="mb-3" [@fadeInOut]>
                                    <label for="ciudadEvento" class="text">Ciudad Del Evento</label>
                                    <div style="display: flex; align-items: center;">
                                        <!-- <input type="string" id="ciudadEvento" name="ciudadEvento" formControlName="ciudadEvento" placeholder="Ingresa la ciudad del Evento" required class="rounded-input" style="height: 45px;"> -->
                                        <mat-form-field appearance="fill" style="width: 100%">
                                            <mat-label>Ciudad del Evento</mat-label>
                                            <mat-select formControlName="ciudadEvento">
                                                <mat-option [value]="city.name" *ngFor="let city of cities">{{ city.name
                                                    }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="error-message"
                                        *ngIf="formularioEvento.get('ciudadEvento')?.invalid && formularioEvento.get('ciudadEvento')?.touched">
                                        El campo Ciudad es obligatorio</div>
                                </div>

                                <!-- Nivel de Dificultad del Evento YA ESTA OK REVISADO -->
                                <div class="mb-3" [@fadeInOut]>
                                    <label for="dificultadEvento" class="text">Dificultad Del Evento</label>
                                    <div style="display: flex; align-items: center;">
                                        <mat-form-field appearance="fill" style="width: 100%">
                                            <mat-label>Nivel de Dificultad del Evento</mat-label>
                                            <mat-select formControlName="dificultadEvento">
                                                <mat-option value=1>Principiante</mat-option>
                                                <mat-option value=2>Intermedio</mat-option>
                                                <mat-option value=3>Avanzado</mat-option>
                                                <mat-option value=4>Experto</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="error-message"
                                        *ngIf="formularioEvento.get('dificultadEvento')?.invalid && formularioEvento.get('dificultadEvento')?.touched">
                                        El campo Nivel de Dificultad es obligatorio</div>
                                </div>

                                <!-- Fecha y Hora del Evento -->
                                <div class="mb-3" [@fadeInOut]>
                                    <label class="text">Fecha y hora del evento</label>
                                    <div>
                                        <ejs-datetimepicker placeholder="Seleccione Fecha y Hora del Evento"
                                            format="yyy-MM-dd HH:mm"
                                            formControlName="fechaHoraEvento"></ejs-datetimepicker>
                                        <div class="error-message"
                                            *ngIf="this.formularioEvento.get('fechaHoraEvento')?.value == '' && formularioEvento.get('fechaHoraEvento')?.touched">
                                            El campo fecha / hora es obligatorio</div>
                                        <div class="error-message"
                                            *ngIf="this.formularioEvento.get('fechaHoraEvento')?.hasError('esHoy') && formularioEvento.get('fechaHoraEvento')?.touched ">
                                            La fecha no puede ser la del día de Hoy</div>
                                    </div>
                                </div>

                                <!-- Tipo de Actividad del Evento YA ESTA OK REVISADO-->
                                <div class="mb-3" [@fadeInOut]>
                                    <label for="actividadEvento" class="text">Tipo actividad Del Evento</label>
                                    <div style="display: flex; align-items: center;">
                                        <mat-form-field appearance="fill" style="width: 100%">
                                            <mat-label>Actividad del Evento</mat-label>
                                            <mat-select formControlName="actividadEvento">
                                                <mat-option value="1">Futbol</mat-option>
                                                <mat-option value="2">Running</mat-option>
                                                <mat-option value="3">Crossfit</mat-option>
                                                <mat-option value="4">Maraton</mat-option>
                                                <mat-option value="5">Yoga</mat-option>
                                                <mat-option value="6">Skate</mat-option>
                                                <mat-option value="7">Roller</mat-option>
                                                <mat-option value="8">Funcional</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="error-message"
                                        *ngIf="formularioEvento.get('actividadEvento')?.invalid && formularioEvento.get('actividadEvento')?.touched">
                                        El campo Tipo de Actividad es obligatorio</div>
                                </div>
                                <br>
                                <button class="btn-createEvent" (click)="OnSubmit()" @fade>CREAR EVENTO</button>
                                <button class="btn-secondary" [routerLink]="['/TeamUp/dashboardEvents']" @fade2>VOLVER
                                    ATRAS</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>