.registro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    text-align: center;
    margin-top: 100px; 
  }

  .background-image {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px); /* Resta la distancia superior para el alto de la imagen */
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(src/assets/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  

  
  .form-group {
    margin: 5px 0;
    text-align: left;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
  }
  
  .rounded-input {
    width: 500px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #FF990F;
    color: #111111;
    border: none;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
    height: 38px;
    display: flex;
    font-weight: 700;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .btn:hover {
    background-color: #FF8000;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: #111111;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 38px;
    display: flex;
    font-weight: 700;
    width: 100%; 
    margin-top: 20px; 
    border-radius: 8px;
    justify-content: center; 
    align-items: center;

    
  }
  .text {
    font-family: 'Open Sans';
    color: #FF990F;
    text-align: left;
    margin: 5px;
    font-size: 14px;
  }
  
  