<div class="container-fluid" style="padding: 0;">
  <app-nav-bar></app-nav-bar>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="background-image">
        <div class="registro-form" >
          <form [formGroup]="formRegistro">
            <app-title [title]="'Creá a tu Cuenta'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'48px'"
            [fontWeightTitle]="'400'" style="text-align: center;"></app-title>
          <div class="form-group">
            <label for="nombre" class="text">Nombre</label>
            <div style="display: flex; align-items: center;">
              <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" formControlName="nombre"
                required class="rounded-input" style="height: 45px;">
            </div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('nombre')?.hasError('required') && this.formRegistro.get('nombre')?.touched">
              El nombre es requerido</div>
          </div>

          <div class="form-group">
            <label for="apellido" class="text">Apellido</label>
            <div style="display: flex; align-items: center;">
              <input type="text" id="apellido" name="apellido" placeholder="Ingresa tu apellido"
                formControlName="apellido" required class="rounded-input" style="height: 45px; ">
            </div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('apellido')?.hasError('required') && this.formRegistro.get('apellido')?.touched">
              El apellido es requerido</div>
          </div>

          <div class="form-group">
            <label for="fechaNacimiento" class="text">Fecha de Nacimiento</label>
            <div>
              <input 
                [formControlName] = "'fechaNacimiento'"
                placeholder="DD/MM/YYYY"
                class="rounded-input"
                bsDatepicker
                style="height: 45px;"
                locale='es'
                required
                [daysDisabled]="[6,0]"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange' }">
           </div>
         
            <div
              class="error-message"
              *ngIf="formRegistro.get('fechaNacimiento')?.hasError('required') && formRegistro.get('fechaNacimiento')?.touched"
            >
              La fecha de nacimiento es requerida
            </div>
            <div *ngIf="formRegistro.get('fechaNacimiento')?.errors?.['fechaInvalida'] && formRegistro.get('fechaNacimiento')?.dirty" class="error-message">
              La fecha de nacimiento es invalida.
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="text">Correo Electrónico</label>
            <div style="display: flex; align-items: center;">
              <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico"
                formControlName="email" required class="rounded-input" style="height: 45px;">
            </div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('email')?.hasError('required') && this.formRegistro.get('email')?.touched">
              El email es requerido</div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('email')?.hasError('email') && this.formRegistro.get('email')?.touched && this.formRegistro.get('email')?.hasError('pattern')">
              Ingrese un email válido</div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('email')?.hasError('minlength') && this.formRegistro.get('email')?.touched">
              El email debe tener al menos 3 caracteres</div>
          </div>

          <div class="form-group">
            <label for="password" class="text">Contraseña</label>
            <div style="display: flex; align-items: center;">
              <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña"
                formControlName="password" required class="rounded-input" style="height: 45px;">
            </div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('password')?.hasError('required') && this.formRegistro.get('password')?.touched">
              La contraseña es requerida</div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('password')?.hasError('minlength') || this.formRegistro.get('password')?.hasError('maxlength') && this.formRegistro.get('password')?.touched">
              La contraseña debe tener entre 8 y 15 caracteres</div>
            <div class="error-message"
              *ngIf="this.formRegistro.get('password')?.hasError('pattern') && this.formRegistro.get('password')?.touched">
              La contraseña debe contener al menos una minúscula, una mayúscula, un número y un símbolo</div>
            <br>
              <button class="btn" type="submit" (click)="OnSubmit()">REGISTRATE</button>
        
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>