.newEvent-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  margin-top: 360px;
}

.background-image {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  min-height: 200%; /* Resta la distancia superior para el alto de la imagen */
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(src/assets/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group {
  margin: 20px 0;
  text-align: left;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.rounded-input {
  width: 500px;
  min-height: 56px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-createEvent {
  background-color: #FF990F;
  color: #111111;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  height: 56px;
  display: flex;
  font-weight: 700;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.btn-secondary {
  background-color: #ccc;
  color: #111111;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  height: 56px;
  display: flex;
  font-weight: 700;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.text {
  color: #FF990F;
  text-align: left;
  margin-bottom: 5px;
}

.timepicker-container {
  color: #111111;
  border: none;
  width: 500px;
}

::ng-deep .mat-mdc-icon-button {
  color: #FF8000 !important;
}

.app-new-event .my-datepicker-container {
  background-color: #ffffff;
  color: #FF8000;
}

::ng-deep .timepicker-container {
  width: 500px;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

::ng-deep .container .timepicker-container {
  text-align: left;
}

.e-datetime-wrapper .e-input-group-icon.e-date-icon,
.e-datetime-wrapper .e-input-group-icon.e-time-icon {
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  color: #504F4F;
  border-radius: 5px;
  padding: 0px 1px;
  width: 40px;
  font-weight: bold;
}

.e-input-group input.e-input,
.e-input-group.e-control-wrapper input.e-input {
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  height: 20px;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 0px !important;
}

.e-datetime-wrapper .e-input-group-icon.e-date-icon, .e-datetime-wrapper .e-input-group-icon.e-time-icon{
  margin: 0px 4px 0px 0px;
}

input::placeholder{
  font-size: 16px;
  color: #757575; 
}

textarea::placeholder{
  font-size: 16px;
  color: #757575; 
}

#ej2-datetimepicker_0_input::placeholder{
  font-size: 16px;
  color: #757575; 
}
