<div class="container-fluid" style="padding: 0;">
    <!-- navbar -->
    <div class="row">
        <app-nav-bar></app-nav-bar>
    </div>

    <!-- hero -->
    <div class="row">
        <app-hero></app-hero>
    </div>

    <!-- titulo EVENTOS -->
    <div class="row" style="margin-left: 140px; margin-top: 100px;">
        <div class="col-1 mt-5">
            <app-title [title]="'EVENTOS'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'48px'" [fontWeightTitle]="'400'"></app-title>
        </div>
    </div>


    <div class="row" style="margin-left: 140px; margin-top: 100px;">

        <!-- filtros -->
        <div class="col-4 d-flex flex-column">
            <div>
                <app-title [title]="'Filtros'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'32px'" [fontWeightTitle]="'400'"></app-title>
                <hr>
            </div>

            <!-- filtro por TIPO DE ACTIVIDAD -->
            <div class="mt-5 mb-5">
                <div class="d-flex justify-content-between">
                    <app-title [title]="'Tipo de Actividad'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'24px'" [fontWeightTitle]="'400'"></app-title> 
                    <span>
                        <a (click)="showActivities()" *ngIf="!displayActivities"><mat-icon>add</mat-icon></a>
                        <a (click)="notShowActivities()" *ngIf="displayActivities"><mat-icon>remove</mat-icon></a>
                    </span>                
                </div>
                <div *ngIf="displayActivities">
                    <ul>
                        <a><li *ngFor="let activity of activities" (click)="filterActivity(activity)">{{ activity }}</li></a>
                    </ul>
                </div>
                <hr>
            </div>

            <!-- filtro por NIVEL DE DIFICULTAD -->
            <div class="mb-5">
                <div class="d-flex justify-content-between">
                    <app-title [title]="'Nivel Dificultad'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'24px'" [fontWeightTitle]="'400'"></app-title> 
                    <span>
                        <a (click)="showDifficulty()" *ngIf="!displayDifficulty"><mat-icon>add</mat-icon></a>
                        <a (click)="notShowDifficulty()" *ngIf="displayDifficulty"><mat-icon>remove</mat-icon></a>
                    </span>
                </div>
                <div *ngIf="displayDifficulty">
                    <ul>
                        <a><li *ngFor="let difficulty of difficulties" (click)="filterDifficulty(difficulty)">{{difficulty}}</li></a>
                    </ul>
                </div>
                <hr>
            </div>

            <!-- filtro por UBICACION -->
            <div class="mb-5">
                <div class="d-flex justify-content-between">
                    <app-title [title]="'Ubicación'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'24px'" [fontWeightTitle]="'400'"></app-title> 
                    <span>
                        <a (click)="showLocation()" *ngIf="!displayLocation"><mat-icon>add</mat-icon></a>
                        <a (click)="notShowLocation()" *ngIf="displayLocation"><mat-icon>remove</mat-icon></a>
                    </span>
                </div>
                <div *ngIf="displayLocation">
                    <ul>
                        <a><li *ngFor="let location of locations" (click)="filterCountry(location)">{{location}}</li></a>
                    </ul>
                </div>
                <hr>
            </div>

            <a style="font-size: 16px; color: #FF990F;" (click)="filterCountry('')">Resetear Filtros</a>

        </div>


        <!-- cards -->
        <div class="col-8 d-flex flex-wrap justify-content-xl-around h-100">

            <div class="col-4 col-xl-3 m-3" *ngFor="let event of eventsListFiltered  | paginate: { itemsPerPage: 3, currentPage: page }">
                <app-card-events [event]="event"></app-card-events>
            </div>

            <div class="col-12 d-flex justify-content-center">
                <pagination-controls (pageChange)="page = $event" [autoHide]=true [responsive]=true previousLabel="" nextLabel="" ></pagination-controls>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>