
<div class="container-fluid hero" >
    <div class="hero-content">
        <app-title [title]="'TEAM UP'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'48px'" [fontWeightTitle]="'400'" [@fadeInOut]></app-title>
        <p style="color:#FF990F;" [@fadeInOut]>Unite a otras personas y llevá tu entrenamiento al siguiente nivel</p>
        <button type="button" class="btn" [routerLink]="['/register']" *ngIf="logueado == false" @fade>REGISTRATE</button>
        <button type="button" class="btn" [routerLink]="['/TeamUp/newevent']" *ngIf="logueado == true" @fade>CREAR EVENTO</button>
    </div>
</div>
