<div class="container-fluid" style="padding: 0;">
    <app-nav-bar></app-nav-bar>
    <div class="hero">

        <div class="team-members">
            <div class="team-member">
            <img src="/assets/images/lucas.jpg" alt="Lucas Poggio">
            <p style="color: #ff990f">Lucas Poggio</p>
            <p style="color: #ff990f">Backend</p>
        </div>
        <div class="team-members">
            <div class="team-member">
            <img src="/assets/images/mauro.jpg" alt="Mauro Riera">
            <p style="color: #ff990f">Mauro Riera</p>
            <p style="color: #ff990f">Backend</p>
        </div>
        <div class="team-members">
            <div class="team-member">
            <img src="/assets/images/gonzalo.jpg" alt="Gonzalo Gatius">
            <p style="color: #ff990f">Gonzalo Gatius</p>
            <p style="color: #ff990f">Frontend</p>
        </div>
        <div class="team-members">
            <div class="team-member">
            <img src="/assets/images/antonella.jpg" alt="Antonella Duca">
            <p style="color: #ff990f">Antonella Duca</p>
            <p style="color: #ff990f">Frontend</p>
            <!-- <p style="color: #ff990f">Product Owner</p> -->
        </div>
        <div class="team-members">
            <div class="team-member">
            <img src="/assets/images/agustin.jpg" alt="Agustin Pullol">
            <p style="color: #ff990f">Agustin Pullol</p>
            <p style="color: #ff990f">Backend</p>
            <!-- <p style="color: #ff990f">Product Management</p> -->
        </div>
        <div class="team-members">
            <div class="team-member">
            <img src="/assets/images/milton.jpg" alt="Milton Szpryngier">
            <p style="color: #ff990f">Milton Szpryngier</p>
            <p style="color: #ff990f">Backend</p>
        </div>
        <div class="team-members">
            <div class="team-member">
            <img src="/assets/images/facundo.jpg" alt="Facundo Carollo">
            <p style="color: #ff990f">Facundo Carollo</p>
            <p style="color: #ff990f">Frontend</p>
        </div>
        
    </div>
    
</div>