<mat-card style="width: 100%; padding-bottom: 10px;">
  <mat-card-header>
    <mat-card-title class="mb-2" style="width: 100%;">
      <div class="row width: 100%, align-items-center">
        <div class="col-md-2" style="height: 100%;">
          <mat-icon>event</mat-icon>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <span style="font-size: 14px;">14/12/2023 - 18:00hs</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="ms-2" style="font-size: 20px; color: #FF990F;">Running en Palermo</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="m-2" style="font-size: 16px; font-weight: 250;">
    Sumate a correr para entrenar para los 21k.
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center mt-2">
    <button class="btn" style="font-weight: bold; width: 100%;">Ver Evento</button>
  </mat-card-actions>
</mat-card>