.material-icons, .mat-icon{
    font-size: 16px !important;
    height: 16px;
    width: 16px;
}

.mat-card-content {
    height: 100%;
}

.mat-card--subtitle, .mat-mdc-card-subtitle {
    min-height: 44px !important;
}