<div class="container-fluid" style="padding: 0;">
    <app-nav-bar></app-nav-bar>
    <div class="background-image">
    <div class="login-form">
      <h2 style="font-family: 'Open Sans'; color: #FF990F">Login</h2>
  
      <form>
        <div class="form-group">
          <label for="email" class="text">Correo Electrónico</label>
          <div style="display: flex; align-items: center;">
            <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" required class="rounded-input">
          </div>
          <div class="error-message">* Debes completar este campo</div>
        </div>
  
        <div class="form-group">
          <label for="password" class="text">Contraseña</label>
          <div style="display: flex; align-items: center;">
            <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required class="rounded-input">
          </div>
          <div class="error-message">* Debes completar este campo</div>
        </div>
  
        <button class="btn" type="submit">Iniciar Sesión</button>
  
        <button class="btn-secondary" type="button" >Iniciar Sesión con Google</button>
      </form>
      <br>
      <p class="recover-password" class="text">Recuperar Contraseña</p>
    </div>
  </div>
  