<div class="container-fluid" style="padding: 0;">
    <app-nav-bar></app-nav-bar>
    <div class="background-image">
    <div class="login-form">
     <app-title [title]="'Login'" [colorTitle]="'#FF990F'" [fontSizeTitle]="'48px'" [fontWeightTitle]="'400'"></app-title>
  
      <form [formGroup]="formLogin">
        <div class="form-group">
          <label for="email" class="text">Email</label>
          <br>
          <div style="display: flex; align-items: center;">
            <input type="email" id="email" name="email" formControlName="email" placeholder="Ingresa tu correo electrónico" required class="rounded-input" style="height: 45px;">
          </div>
          <div class="error-message" *ngIf="formLogin.get('email')?.hasError('required') && formLogin.get('email')?.touched">El email es obligatorio</div>
          <div class="error-message" *ngIf="formLogin.get('email')?.hasError('email') && formLogin.get('email')?.touched">Ingrese un email válido</div>
          <div class="error-message" *ngIf="formLogin.get('email')?.hasError('minlength') && formLogin.get('email')?.touched">El email debe tener al menos 5 caracteres</div>
        </div>
  
        <div class="form-group">
          <label for="password" class="text">Password</label>
          <div style="display: flex; align-items: center;">
            <input type="password" id="password" name="password" formControlName="password" placeholder="Ingresa tu contraseña" required class="rounded-input" style="height: 45px;">
          </div>
          <div class="error-message" *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">La password es obligatoria</div>
          <div class="error-message" *ngIf="formLogin.get('password')?.hasError('minlength') && formLogin.get('password')?.touched">La password debe tener al menos 3 caracteres</div>
        </div>
  
        <button class="btn"  (click)="OnSubmit()">Iniciar Sesión</button>
  
        <button class="btn-secondary" >Iniciar Sesión con Google</button>
      </form>
      <br>
      <p class="recover-password" class="text">Recuperar Contraseña</p>
    </div>
  </div>
  