.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .rounded-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .btn {
    background-color: #FF990F;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #FF8000;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  