<div >
    <footer class="footer d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <hr style="color: #ff990f; width: 100%; margin-left: 25px;">
            <img src="./assets/images/logo2.png" alt="Logo" class="logo-image" style="width: 10%; margin-left: 5px;">
            <hr style="color: #ff990f; width: 100%; margin-right: 25px;">
        </div>

        <p style="margin: 0px; padding-left: 10px; font-size: 12px; text-align: center; color: #111">
            &copy; TeamUp. Todos los derechos reservados
        </p>
    </footer>
</div>