
<mat-toolbar class="custom-navbar mat-elevation-z8" >
    <mat-toolbar-row>
      <!-- <app-title [title]="'Hola'" [colorTitle]="'#FF990F'"></app-title> -->
      <img src="./assets/images/logo2.png" alt="Logo" class="logo-image">


      <div class="spacer"></div>
      <a mat-button class="custom-button-text custom-button-text-inicio" href=""> Inicio </a>
      <a mat-button class="custom-button-text custom-button-text-eventos" href="eventos"> Eventos </a>
      <a mat-button class="custom-button-text custom-button-text-nosotros" href="nosotros"> Nosotros </a>
      <button class="btn" [routerLink]="['/login']"> INICIA SESIÓN </button>
    </mat-toolbar-row>
</mat-toolbar>
  

